$background_color: #383838;

.admin-content{
  padding-top: 60px;

  .admin-sidebar{
    ul li {
      text-transform: uppercase;
      background: $background_color;
      font-size: 1.2em;
      padding: 10px;

    }
  }

  .admin-main{
    padding: 0 10px;

    .show-form{
      display: none;
    }

    .btn > i a{
      color: #fff;
    }
  }

}

/* ###################################################### */
/*                        Large screen                    */
/* ###################################################### */
@media(min-width:700px){

  /* Admin Section */
  .admin-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 60px;


    .admin-sidebar{

      ul li {
        text-transform: uppercase;
        background: $background_color;
        font-size: 1.2em;
        padding: 10px;

      }
    }

    .admin-main{
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;

      .product-card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap:1em;
      }
    }

  }
}