$main_color: #BA68C8;
$main_color_rgba: rgba(186, 104, 200, .6);

/* Transparent Navbar */
.navbar-fixed{
  position: absolute;
  z-index:999999999;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  border-width:0;
}

nav ul a:hover{
  color: $main_color;
  background: white;
}

.nav-color {
  background: linear-gradient(to right, $main_color, #AB47BC);
}