#body-login {
  overflow-x: hidden;
  //overflow-y: hidden;
  background-color: #202026;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

.login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-form{
    padding: 4em 4em;
    box-shadow: 0px 0px 2em rgba(255, 255, 255, 0.9);
    background-color: #fff;

    h3{
      text-align: center;
    }

    form{
      .input-field {
        label {
          color: #8C9EFF;
        }
      }
    }
  }
}

/* ###################################################### */
/*                        Large screen                    */
/* ###################################################### */

@media(min-width:700px){

  form{
    width: 100vh;
    padding: auto 2em;
  }
}