.background-login{
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #202026;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

.login-grid{
  display:grid;
  grid-template-columns:1fr 3fr 1fr;
  grid-template-areas:
          ". form-login .";
}

.form-login{
  grid-area: form-login;

  padding: 50px;
  margin-top: 17vh;
  box-shadow: 0px 0px 2em rgba(255, 255, 255, 0.9);
  background-color: #fff;

  h3 {
    font-size: 40px;
    color: #8C9EFF;
  }

  form{
    .input-field{
      label{
        color: #8C9EFF;
      }

    }
  }
}

@media(max-width:700px){

  .login-grid{
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:
            "form-login";
  }

  .form-login{
    grid-area: form-login;
    margin: 5px;
  }
}