*{
  box-sizing: border-box;
  /*margin: 0;*/
  padding: 0;
}

body{
  margin:0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
          "header"
          "content"
          "footer";
}

.main-grid header{
  grid-area: header;
}

.main-grid .content {
  grid-area: content;
}

.main-grid footer{
  grid-area: footer;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
          "social-info"
          "company-info"
          "copyright-info";
}

.cor-vermelho {
  background: #F44336;
  color: #fff;
}

.index{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
          "carousel-index"
          "category-index"
          "hr-index"
          "thumbnail-index";
}

.index .carousel-index{
  grid-area: carousel-index;
}

.index .category-index{
  grid-area: category-index;

  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 40px;

  h2{
    font-size: 3rem;
  }
}

.index .category-index img{
  border-radius: 50%;
  width:140px;
  height:140px;
}

.index .hr-index{
  grid-area: hr-index;
}

.index .thumbnail-index{
  grid-area: thumbnail-index;

  display:grid;
  grid-template-columns:1fr 4fr 4fr 1fr;
  grid-template-areas:
          ". thumbnail-text thumbnail-img .";
  align-items: center;
  justify-items: center;
  padding: 40px;
}

.index .thumbnail-index .thumbnail-text{
  grid-area: thumbnail-text;
}

.index .thumbnail-index .thumbnail-img{
  grid-area: thumbnail-img;
}

.index .thumbnail-index .thumbnail-img img{
  width:540px;
  height:340px;
}

.login-grid {
  display:grid;
  grid-template-columns:1fr;
}

/* User Page */
.user-grid{
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-areas:
          "user-sidebar main-info ";
  min-height: 100vh;
  padding-top: 60px;
}

.user-sidebar{
  grid-area: user-sidebar;

  ul li{
    font-size: 1.2em;
    padding: 10px;
  }
}

.main-info{
  grid-area: main-info;
  padding: 0 10px;

  .show-form{
    display: none;
  }
}

.main-info .product-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:1em;
}


/* Responsive*/

@media(max-width:700px) {

  .index .category-index {
    grid-area: category-index;

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .user-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "user-sidebar"
            "main-info";
  }
}