$main_color: #BA68C8;

.admin-edit{

  .card-edit{
    padding-top: 5em;
    background-color: #fff;

    form{
      color: $main_color ;
      height: 100%;
      padding-bottom: 2em;
    }
  }
}

/* ###################################################### */
/*                        Large screen                    */
/* ###################################################### */

@media(min-width:700px){

}