.company-info{
  //height: 100vh;
  padding-bottom: 2em;

  .first{
    padding-top: 5em;
  }
}

.error-message{
  background: $dark_red;
  p{
    padding: 1em;
    color: white;
  }
}

/* ###################################################### */
/*                        Large screen                    */
/* ###################################################### */

@media(min-width:700px){
  .company-info{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
            ". . ."
            ". form ."
            ". form ."
            ". . .";

    .grid-company{
      width: 100%;
      grid-area: form;
    }
  }
}