$main_color: #BA68C8;
$main_color_rgba: rgba(186, 104, 200, .6);
$background_color: #383838;

/* #####################  Carousel  ###################### */

#slider, .carousel-custom, .slide-content{
  width: 100%;
  height: 100vh;
}

.carousel-custom{
  position: relative;

  .slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slide1{
    background-image: url('../img/site/banner1.jpeg');
  }

  .slide2{
    background-image: url('../img/site/banner2.jpeg');
  }

  .slide3{
    background-image: url('../img/site/banner3.jpeg');
  }

  /*faz o texto ficar sempre no centro da tela*/
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px .8em rgba(0,0,0,.5);

    a {
      text-shadow: 1px 1px .8em rgba(0,0,0,.5);
      text-decoration: none;
      padding: 1em;
      margin-top: 1.5em;
      border: 1px solid $main_color;
      color: #f4f4f4;
      font-size: 1.5em;
      box-shadow: 1px 1px 1em rgba(255, 255, 255, .7);
      background-color: $main_color_rgba;
      font-weight: 600;

      &:hover{
        border: 1px solid white;
        background: rgba(255, 255, 255, .7);
        color: $main_color;
        text-shadow: none;
      }
    }

    span {
      font-size: 1.5rem;
    }

    h1{
      font-size: 3rem;
    }

  }

  .arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  #arrow-left{
    border-width: 15px 20px 15px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
  }

  #arrow-right{
    border-width: 15px 0px 15px 20px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
  }

}

/* #####################  Description  ###################### */

#description-index{
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;

  p{
    font-size: 1.3em;
    text-align: justify;
    margin: 1em;
  }

}

/* #####################  Category  ###################### */

#category-index{
  text-align: center;
  padding: 40px;
  grid-gap: 2em;
  background: $background_color;

  h2{
    font-size: 3rem;
  }

  > div {
    p, span{
      text-transform: capitalize;
    }
  }

}

/* #####################  Thumbnail  ###################### */

#thumbnail-index{
  h2{
    font-size: 1.5rem;
    text-align: center;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:340px;
    height:340px;
  }
}

/* ###################################################### */
/*                        Large screen                    */
/* ###################################################### */

@media(min-width:700px){

  /* #####################  Carousel  ###################### */

  .slide-content span{
    font-size: 4rem;
  }

  /* #####################  Description  ###################### */

  #description-index{
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;

    p{
      font-size: 1.3em;
      columns: 2;
      margin: auto 10em;
    }

  }

  /* #####################  Category, Product ###################### */

  #category-index, #product-index{
    img{
      width:100%;
      height:55vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  /* #####################  Thumbnail  ###################### */

  #thumbnail-index{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 5em;

    h2{
      font-size: 2.5rem;
      text-align: center;
    }

    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:540px;
      height:340px;
    }
  }
}