$background_color: #d2d2d2;

.products{
  background-color: white;

  .grid-products{
    padding-top: 4em;
    .sidebar{
      padding: 1em;
      background-color: #f5f5f5;
    }

    #product-index{
      padding: 1em;

      p{
        margin: 0;
        padding: 0;
      }
    }
  }

}

/* ###################################################### */
/*                        Large screen                    */
/* ###################################################### */

@media(min-width:700px){

  .grid-products{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar main";

    .sidebar{
      grid-area: sidebar;

      form{
        width: 50vh;
      }
    }

    #product-index{
      grid-area: main;
    }
  }
}